/* === Blog Area Start === */
main .blog {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
    scroll-margin-top: 50px;
    position: relative;
    overflow: hidden;
}
/* === Blog Area End === */


/* === Blog Carousel Area Start === */
.blog-carousel {
    min-height: 360px;
    max-height: 480px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.blog .button-area {
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .arrowL, .arrowR {
    font-size: 3rem;
    transition: opacity 0.5s ease;
    transition: transform 0.5s ease;
    color: var(--grayOuter);
    text-shadow: 2px 2px 5px var(--primary);
    display: none;
}

.blog .arrowL:hover, .arrowR:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.5);
}
/* === Blog Carousel Area End === */


/* === Blog Card Start === */
.blog-card {
    min-width: 100%;
    min-height: 100%;
    flex-grow: 1;
    display: flex; 
    justify-content: center;
    position: relative;
}

.blog-card article {
    max-width: 960px;
    min-width: 240px;
    flex-shrink: 1;
    padding: 20px;
    border: 2px solid var(--grayOuter);
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.blog h3 {
    font-size: var(--clamp-h3s);
}

.blog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    flex-wrap: wrap;
}

.blog-content .content-img{
    aspect-ratio: 16 / 9;
    max-width: 512px;
    min-width: 208px;
    max-height: 288px;
    min-height: 117px;
    flex: 4;
    display: flex;
    box-shadow: 2px 2px 5px var(--grayOuter);
}

.blog-content .content-img img {
    width: 100%;
}

.blog article .blog-content p {
    flex: 1;
    font-size: var(--clamp-p);
    text-align: justify;
    color: var(--grayOuter);
    min-width: 200px;
    height: 270px;
    flex-grow: 1;
}

.blog article .tombol {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-color: var(--secondary);
    box-shadow: 2px 2px 2px var(--secondary);
}

.blog article .tombol:hover {
    background-color: var(--secondary);
    color: white;
}
/* === Blog Card End === */


/* Tampilan Tablet */
@media screen and (max-width: 960px) {
    .blog-card article .tombol {
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
    }

    .blog article .tombol {
        width: 75px;
        height: 25px;
    }
}