:root {
    --primary: #097cff;
    --secondary: #ff914d;
    --grayInner: #A9A9A9;
    --grayOuter: #696969;
}

main .games {
    height: 150vh;
    width: 100%;
    border-bottom: 2px solid var(--grayOuter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .games h2{
    font-size: 3rem;
    font-weight: 800;
}

main .games .gamesContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

main .gamesCard {
    background-color: var(--primary);
    width: 200px;
    height: 320px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 5px 5px 10px var(--secondary);
}

main .gamesCard a {
    width: 180px;
    height: 180px;
    border: 2px solid var(--grayOuter);
    border-radius: 10px;
    overflow: hidden;
}

main .gamesCard a:hover {
    opacity: 0.75;
}

main .gamesCard a img {
    width: 100%;
}

main .gamesCard .gamesDesc {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.gamesDesc h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(0.75rem, 1vw, 2rem);
    font-weight: 900;
}

.gamesDesc p {
    font-size: 0.625rem;
    font-weight: 400;
    text-align: justify;
}

main .games .tombol {
    background-color: var(--grayOuter);
    border-color: var(--grayOuter);
    box-shadow: 2px 2px 2px var(--grayInner);
    color: white;
    transition: border-color 0.5s ease;
}

main .games .tombol:hover {
    background-color: var(--grayInner);
    border-color: var(--grayInner);
}


/* Tampilan Tablet */
@media screen and (max-width: 1152px) {
    main .games h2 {
        font-size: 2rem;
    }

    main .games .gamesContent {
        gap: 10px;
    }

    main .gamesCard {
        width: 180px;
        height: 288px;
        align-items: center;
        gap: 10px;
    }

    main .gamesCard a {
        width: 160px;
        height: 160px;
    }

    main .gamesDesc h3 {
        font-size: 1rem;
    }
}

/* Tampilan Mobile */
@media screen and (max-width: 768px) {
    main .games h2 {
        font-size: 2rem;
    }

    main .games .gamesContent {
        gap: 10px;
    }

    main .gamesCard {
        width: 280px;
        height: 60px;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    main .gamesCard a {
        width: 50px;
        height: 50px;
    }

    main .gamesDesc h3 {
        font-size: 1rem;
    }

    main .gamesDesc p {
        display: none;
    }
}