main .games {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    scroll-margin-top: 50px;
}

main .games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px;
}

.games-card {
    background-color: var(--primary);
    width: 200px;
    height: 320px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 5px 5px 10px var(--secondary);
}

.games-card a {
    width: 180px;
    height: 180px;
    border: 2px solid var(--grayOuter);
    border-radius: 10px;
    overflow: hidden;
}

main .games-card a:hover {
    opacity: 0.75;
}

main .games-card a img {
    width: 100%;
}

.games-description {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.games-description h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(0.75rem, 1vw, 2rem);
    font-weight: 900;
}

.games-description p {
    font-size: 0.625rem;
    font-weight: 400;
    text-align: justify;
}

.games .tombol {
    background-color: var(--grayOuter);
    border-color: var(--grayOuter);
    box-shadow: 2px 2px 2px var(--grayInner);
    color: white;
    transition: border-color 0.5s ease;
    margin-bottom: 20px;
}

.games .tombol:hover {
    background-color: var(--grayInner);
    border-color: var(--grayInner);
}


/* Tampilan Tablet */
@media screen and (max-width: 960px) {
    .games h2 {
        font-size: 2rem;
    }

    .games-container {
        gap: 10px;
    }

    .games-card {
        width: 180px;
        height: 288px;
        align-items: center;
        gap: 10px;
    }

    .games-card a {
        width: 160px;
        height: 160px;
    }

    .games-description h3 {
        font-size: 1rem;
    }
}

/* Tampilan Mobile */
@media screen and (max-width: 768px) {
    .games h2 {
        font-size: 2rem;
    }

    .games-container {
        gap: 10px;
    }

    .games-card {
        width: 280px;
        height: 60px;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .games-card a {
        width: 50px;
        height: 50px;
    }

    .games-description h3 {
        font-size: 1rem;
    }

    .games-description p {
        display: none;
    }
}